body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button:focus {
  outline: 0;
}

.app {
  display: flex;
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.group-view {
  width: 10em;
  position: relative;
  flex-shrink: 0;
  background-color: var(--group-list-bg);
}
.group-list {
  width: 10em;
  height: calc(100vh - 3em);
  overflow-y: scroll;
}

.task-view {
  flex: 1;
  padding: 0.25em;
  position: relative;
}

.task-view-content {
  overflow-y: scroll;
  height: 100vh;
}

.line-header {
  text-align: center;
  /* border-bottom: medium solid var(--text); */
  margin-top: 2em;
}

.group-item {
  border-bottom: thin solid var(--group-border-color);
  height: 2.5em;
  padding: 0.1em 0.1em 1em 0.1em;
  text-align: center;
  transition: background-color 0.3s ease-in-out, border-right 0.3s ease-in-out;
  text-decoration: none;
  color: var(--text);
  display: block;
}

.group-item:hover {
  background-color: var(--group-item-hover-bg);
}

.group-item-selected {
  border-right: solid thick var(--highlight-color);
}

.group-item .group-item-header {
  font-size: 18px;
  display: block;
}

.group-item input {
  font-size: 18px;
  width: 80%;
  color: var(--text);
  outline: none;
  background-color: var(--group-list-bg);
  border: none;
}

.group-item input:focus {
  box-shadow: 0px 0px 3px 1px var(--highlight-color);
}

.new-group-button {
  border-top: thin solid var(--group-border-color);
  height: 3em;
  text-align: center;
  width: 100%;
  color: var(--icon-color);
  bottom: 0px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  background-color: var(--group-list-bg);
}
.new-group-button:hover {
  color: var(--highlight-color);
}

.task-item {
  background-color: var(--bg);
  border-top-style: solid;
  border-radius: 0.5em;
  border-width: 2px;
  border-top-color: var(--highlight-color);
  border-top-width: medium;
  padding: 0.5em;
  background-color: var(--task-bg);
  margin-top: 0.5em;
  display: flex;
  min-height: 3em;
  /* word-break: break-all; */
  /* white-space: pre-wrap; */
}

.task-item textarea {
  resize: none;
  flex: 1;
  border-radius: 0.5em;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: var(--text);
  border: none;
  background-color: var(--task-bg);
  padding: 0.5em;
}

.task-item textarea:focus {
  box-shadow: 0px 0px 3px 1px var(--highlight-color);
}

.task-item.completed {
  border-top-color: var(--text);
}

.trash-btn {
  background-color: transparent;
  border-style: none;
  border-radius: 0.25em;
  transition: color 0.3s ease-in-out;
  color: var(--icon-color);
}
.trash-btn:hover {
  color: var(--red);
}

.edit-btn {
  background-color: transparent;
  border-style: none;
  border-radius: 0.25em;
  transition: color 0.3s ease-in-out;
  color: var(--icon-color);
}
.edit-btn:hover {
  color: var(--highlight-color);
}

.left-toolbar {
  position: absolute;
  left: 0.5em;
  bottom: 1em;
  background-color: transparent;
  display: flex;
  flex-direction: column-reverse;
}

.toggle-dark-btn {
  background-color: transparent;
  border-style: none;
  border-radius: 0.25em;
  transition: color 0.3s ease-in-out;
  color: var(--icon-color);
  margin-top: 0.5em;
}

.toggle-dark-btn:hover {
  color: var(--highlight-color);
}

.new-task-btn {
  background-color: transparent;
  border-style: none;
  border-radius: 0.25em;
  transition: color 0.3s ease-in-out;
  color: var(--icon-color);
  margin-top: 0.5em;
}

.new-task-btn:hover {
  color: var(--highlight-color);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

/* Customize the label (the container) */
.checkmark-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  margin-top: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0.5em;
  height: 1em;
  width: 1em;
  background-color: var(--task-bg);
  border: solid thin var(--group-border-color);
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: var(--group-item-hover-bg);
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background-color: var(--highlight-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 0.3em;
  top: 0.1em;
  width: 5px;
  height: 10px;
  border: solid var(--text);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Themes */
:root {
  --gray0: #fcfcfc;
  --gray1: #f8f8f8;
  --gray2: #eaeaef;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2a2c;
  --gray6: #18181a;
  --green: #33ffbd;
  --purple: #b842ff;
  --yellow: #ffb842;
  --red: #ff42c3;
  --blue: #42c3ff;
}

.light {
  --bg: var(--gray0);
  --text: var(--gray3);
  --task-bg: var(--gray1);
  --group-list-bg: var(--gray1);
  --group-border-color: var(--gray2);
  --group-item-hover-bg: var(--gray2);
  --icon-color: var(--gray3);
  --highlight-color: var(--green);
}

.dark {
  --bg: var(--gray5);
  --text: var(--gray2);
  --task-bg: var(--gray6);
  --group-list-bg: var(--gray6);
  --group-border-color: var(--gray5);
  --group-item-hover-bg: var(--gray5);
  --icon-color: var(--gray2);
  --highlight-color: var(--purple);
}
